@import "tailwindcss";
@import "@fontsource-variable/vazirmatn";

:root {
  color-scheme: dark;

  --page-bg: #0f0f0f;
  --text: #f5f5f5;
  --font-vazirmatn: "Vazirmatn", sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  background: var(--page-bg);
  font-family: var(--font-vazirmatn);
}

body {
  min-height: 100%;
  margin: 0;

  background: var(--page-bg);
  color: var(--text);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a,
button {
  -webkit-tap-highlight-color: transparent;
}
